@charset "ISO-8859-1";

* {
	padding: 0;
	margin:0;
		
}

body {
	background: #1e1e1e;
}
.container h1 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.container h3 {
	color:green;
	text-align: center;
}
.submit-btn {
	padding-top: 14px;
}

.left-item a {
	margin-left: 80px;
}
.form-login {
	width:400px;
}
.form-login .sumbit-login{
	padding-top: 14px;
}

